.navbar {
	height:8%;
	width: 100%;
	background-color: #f9f7f4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.navbarHeadingLink {
	padding-left: 1rem;
	font-weight: bold;
	font-size: 1.6rem;
	text-decoration: none;
	color: black;
}

.div {
	display: flex;
	justify-content: flex-end;
	margin-right: 1rem;
}

.link {
	margin: 0rem 1rem;
	padding: 0.5rem;
	text-decoration: none;
	color: white;
	display: inline-block;
	background-color: #334aff;
	font-weight: bold;
	font-size: 1rem;
	border: 1px solid #334AFF;
	border-radius: 8px;
}

.link:hover {
	background-color: white;
	color: #334aff;
	transition: all 0.3s ease-out;
}
.event {
	margin: 0.5rem;
}
